.PostContent {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    color: white;
    box-shadow: 2px 3px 10px 2px #360033;
    border-radius: 6px;
    font-family: 'Roboto';
    overflow: hidden;
}

.Number {
    display: none;
}

.PostPhoto {
    display: block;
    width: 100%;
    margin: auto;
}

.PostTitle {
    text-transform: capitalize;
    margin: 1rem 0rem;
    font-family: 'Kosugi';
}

.ToolsWrapper {
    display: none;
}

.BtnWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.DeleteLikedPost {
    margin-top: 1rem;
    padding: 1rem 0rem;
    background-color: rgb(245, 53, 0);
    border-radius: 6px;
    cursor: pointer;
    flex-basis: 45%;
}

.DeleteLikedPost > img {
    display: block;
    width: 10%;
    margin: auto;
}

.ReturnDeletedPost {
    margin-top: 1rem;
    flex-basis: 45%;
    padding: 1rem 0rem;
    background-color: rgb(39, 111, 245);
    border-radius: 6px;
    cursor: pointer;
}

.ReturnDeletedPost > img {
    display: block;
    width: 10%;
    margin: auto;
}

@media(min-width: 1200px) {

    .PostTitle {
        max-height: 1.2rem;
        overflow: hidden;
    }

    .PostParagraph {
        max-height: 2.5rem;
        overflow: hidden;
    }
}
